*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after{
  content: '';
  display: table;
  clear: both;
}
body{
  background-image: url(./image/back.jpg);
  background-size: cover;
  position: relative;
  height: 100vh;
}
.wrapper{
  width: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 10px 50px rgba(255,0,1);
  overflow: hidden;
  background-color: white;
}

.player-0-panel,
.player-1-panel{
  width: 50%;
  float: left;
  height: 550px;
  padding: 100px;
}
.player-name{
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 100;
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative;
}

.player-score{
  text-align: center;
  font-size: 80px;
  font-weight: 100;
  margin-bottom: 130px;
}

.active{
  background-color: rgb(247, 247,247);
}
.active .player-name{
  font-weight: 300;
}
.active .player-name::after{
  content: '\2022';
  font-size: 47px;
  position: absolute;
  color: #eb4d4d;
  top: -7px;
  right: 10px;
}
.player-current-box{
  background-color: #eb4d4d;
  color: #fff;
  width: 40%;
  margin: 0 auto;
  padding: 12px;
  color: #222;
  text-align: center;
}

.player-current-score{
  font-size: 30px;
}

.dice{
  position: absolute;
  left: 50%;
  top: 178px;
  transform: translate(-50%);
  height: 100px;
  box-shadow: 0px 10px 60px rgba(0,0,0, 0.1);
}
button{
  position: absolute;
  width: 200px;
  left: 50%;
  transform: translate(-50%);
  color: #555;
  background: none;
  font-size: 20px;
  cursor: pointer;
  font-weight: 300;
  transition: background-color 0.3s,color 0.3s;
}
.btn-new{
  top: 45px;
}
.btn-roll{
  top: 403px;
}
.btn-hold{
  top: 467px;
}
